/* Horizontal Scroll */
html {
    overflow-x: hidden;
}

/* Font */
h1 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.3rem;
}
h2 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}
h3 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.50rem;
}
h4 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}
h5 {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: #EDE031;
}
h6 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.375rem;
}
p {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Navigation */

.logo {
    color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 1.8rem;
}
.navbar {
    padding-left: 4%;
}
.navbar-toggler-icon {
    color: black;
}
/* Padding */
.p-7 {
    padding-top: 7%;
    padding-bottom: 2%;
}

/* Title */
.title {
    padding-bottom: 5%;
}

/* Divider */

.divider {
    margin-top: 3%;
    background-color: #231F20;
}

/* Buttons */

.btn-primary {
    background-color: #ffffff;
    border-color: #231F20;
    border-radius: 0px;
    color: #231F20;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.btn-primary:hover {
    background-color: #EDE031;
    color: #231F20;
    border-color: #231F20;
}

/* Hero section */

.hero {
    background-color: #F1F1F1;
}

.disclaimer {
    padding-top: 10%;
}

.space {
    margin-top: 8%;
}

.contact_lens {
    width: 7%;
    position: absolute;
    transform: translate(125%, -40%);
}
.left-col {
    padding-left: 5%;
    padding-top: 6rem;
}
img.hero-img {
    width: 114%;
}
.hero-mobile {
    flex-direction: row;
}

/* How it works section */

.how-it-works-img {
    padding-bottom: 14px;
    width: 50%;
}
.benefits-img {
    width: 70%;
}
/* Divider Banner section */
.divider-banner-section {
    background-color: #EDE031;
    padding-top: 2%;
    padding-bottom: 2%;
    vertical-align: center;
    margin-top: 4%
}
.divider-banner-section h3 {
    margin-bottom: 0;
}
.get-started {
    margin-left: 3%;
}


/* Mythbusting section */
.mythbusting-section {
    padding-top: 4%;
    padding-bottom: 4%;
}
.mythbusting-img {
    width: 15%;
    padding-bottom: 20px;
}

/* Welcome kit section */

.welcome-kit-section {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.welcome-kit-img {
    width: 90%;
}
.welcome-kit-section .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Video section */
.bg-gray {
    background-color: #F1F1F1;
}
.video-section {
    padding-top: 3%;
    padding-bottom: 3%;
}
img.instruction-placeholder {
    width: 70%;
}

/* Pricing Model */
.pricing-model {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pricing-img {
    padding-bottom: 4%;
    width: 30%;
}
.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Social section */
.social-img {
    width: 100%;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 6%;
    }
    h3 {
        font-size: 1.25rem;
    }
    /* Hero section */
    a {
        -webkit-appearance: none;
        border-radius: 0;
    }
    .contact_lens {
        width: 25%;
        position: absolute;
        transform: translate(7.7em, -30%);
    }
    .left-col {
        padding-left: 5%;
        padding-top: 1rem;
    }
    .hero-mobile {
        display: flex;
        flex-direction: column-reverse;
    }
    img.instruction-placeholder {
        width: 110%;
    }
    .welcome-kit-img {
        width: 115%;
    }
    .mythbusting-img {
        width: 18%;
    }
    .hero-img {
        display: none;
    }
    img.mobile-hero-img {
        width: 114%;
        margin-left: -4%;
    }
    .mobile-col-7 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .pricing {
        text-align: left;
        width: 80%;
        margin: auto;
        padding-bottom: 1rem;
    }
    span.line-break {
        content: "\a";
        white-space: pre;
    }
    .get-started {
        margin-left: 3%;
        text-align: center;
        margin-right: 18%;
        margin-top: 3%;
    }
    .benefits-img {
        margin-bottom: 2%;
    }
    .mobile-mythbusting {
        text-align: center;
    }
    .banner-badge {
        width: 11%;
        position: absolute;
        transform: translate(4.2rem, -4rem);
    }
    .hero-section {
        padding-top: 2rem;
    }
    .location {
        padding-bottom: 1rem;
    }
    img.location-img {
        width: 45%;
    }
    .email-section {
        background-color: #EDEDEE;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .mobile-input {
        margin-bottom: 1rem;
    }
    .booking-section {
        padding-left: 1rem;
        padding-top: 2rem;
    }
    .info-section {
        background-color: #EDE031;
        padding-top: 2rem;
    }
    img.info-img {
        width: 12%;
    }
    .calendly-inline-widget {
        min-width: 320px;
        height: 720px;
    }
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    .how-it-works-img {
        display: none;
    }
    img.how-it-works-mobile {
        padding-bottom: 1rem;
    }
    .mobile-video {
        margin-left: -25px;
    }
    .p-mobile {
        text-align: left;
        width: 65%;
        margin: auto;
    }
    .how-it-works-block {
        margin-bottom: 1.5rem;
    }
    .mythbusting-block {
        text-align: left;
        width: 65%;
        margin: auto;
    }
}

@media (min-width: 767.98px)  {
    img.hero-img {
        width: 118%;
    }
    .contact_lens {
        width: 9%;
        transform: translate(8.5rem, -27%);    
    }
    .benefits-img {
        width: 90%;
        margin-bottom: 16%;
    }
    h3 {
        font-size: 1.10rem;
    }
    .mythbusting-img {
        width: 17%;
        padding-bottom: 20px;
    }
    h1 {
        font-size: 2.5rem;
        margin-top: 0%;
    }
    .disclaimer {
        padding-top: 3%;
    }
    .space {
        margin-top: 5%;
    }
    .left-col {
        padding-top: 2rem;
    }
    .mobile-hero-img {
        display: none;
    }
    .banner-badge {
        width: 5%;
        position: absolute;
        transform: translate(18rem, -2rem);
    }
    img.location-img {
        width: 60%;
    }
    .hero-section {
        padding-top: 2rem;
    }
    .email-description {
        font-size: 12px;
    }
    .email-section {
        background-color: #EDEDEE;
        padding-left: 4%;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
    img.info-img {
        width: 280%;
    }
    .calendly-inline-widget {
        height: 44rem;
    }
    .info-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    h3.title-padding {
        padding-top: 2rem;
    }
    .how-it-works-img {
        display: none;
    }
    img.how-it-works-mobile {
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .hero-mobile {
        flex-direction: row;
    }
    .left-col {
        padding-left: 5%;
        padding-top: 10rem;
    }
    .contact_lens {
        width: 6%;
        transform: translate(151%, -30%);
    }
    h1 {
        font-size: 4.3rem;
    }
    .benefits-img {
        width: 70%;
    }
    h3 {
        font-size: 1.5rem;
    }
    .mythbusting-img {
        width: 11%;
    }
    img.hero-img {
        width: 116%;
        margin-top: -3%;
    }
    img.banner-badge {
        width: 5%;
        position: absolute;
        transform: translate(23rem, -2rem);
    }
    .title-2 {
        font-size: 4.0rem;
    }
    .title-description {
        font-size: 24px;
        padding-top: 1rem;
    }
    .email-section {
        background-color: #EDEDEE;
        padding-left: 8%;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .location {
        padding-bottom: 3rem;
    }
    img.location-img {
        width: 80%;
    }
    .hero-section {
        padding-top: 4rem;
    }
    .email-description {
        font-size: 18px;
    }
    .booking-section {
        padding-left: 3rem;
    }
    .title-padding {
        padding-top: 4rem;
    }
    .info-section {
        background-color: #EDE031;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
    }
    .title-description-2 {
        font-size: 1.2rem;
    }
    img.info-img {
        width: 120%;
    }
    .calendly-inline-widget {
        min-width: 320px;
        height: 720px;
    }
    .how-it-works-mobile {
        display: none;
    }
    .how-it-works-img {
        display: unset;
    }
    .p-mobile {
        text-align: unset;
        width: auto;
        margin: unset;
    }
    .mythbusting-block {
        text-align: unset;
   
        margin: unset;
    }
    
}

@media only screen and (min-width: 1500px) {
    .contact_lens {
        width: 6%;
        transform: translate(138%, -30%);
    }
}

@media only screen and (min-width: 1600px) {
    .contact_lens {
        width: 6%;
        transform: translate(133%, -30%);
    }
}

/* Find a Club Page */

/* Hero */
.email-section {
    background-color: #EDEDEE;
}

/* New York Page */
.map-bg {
    background-image: url(https://res.cloudinary.com/sbg-pathyield/image/upload/v1659243580/Asset_9_3x_zjrnk5.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.info-section {
    background-color: #EDE031;
}
a.location-link-florid:hover {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

/* Carousel */

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

